body{
    /*background-color:#e7d9d9;*/
    margin:0;
    font-family: 'Source Sans Pro', sans-serif;
}
.container{
    padding: 1em;
}
p{
    margin:0;
}
.row,
.column{
    box-sizing: border-box;
}
.row{
    margin-bottom: 1em;
}
.row:before, 
.row:after{
    content: "";
    display: table;
}
.row:after{
    clear: both;
}
[class*=column]{
    position: relative;
    float:left;
}
[class*=column] + [class*=column]{
    margin-left: 1.6%;
}
.column-1{
    width: 6.866666667%;
}
.column-2{
    width: 15.3333333333%;
}
.column-3{
    width: 23.8%;
}
.column-4{
    width: 32.2666666667%;
}
.column-5{ 
    width: 40.7333333333%;
}
.column-6{
    width: 49.2%;
}
.column-7{
    width: 57.6666666667%;
}
.column-8{
    width: 66.1333333333%;
}
.column-9{
    width: 74.6%;
}
.column-10{
    width: 83.06666667%;
}
.column-11{
    width: 91.5333333333%;
}
.column-12{
    width:100%;
}
/*offset*/
.column-offset-1{
    margin-left: 8.466666667%;
}
.column-offset-2{
    margin-left: 16.93333333%;
}
.column-offset-3{
    margin-left: 25.4%;
}
.column-offset-4{
    margin-left: 33.866666667%;
}
.column-offset-5{
    margin-left: 42.333333333%;
}
.column-offset-6{
    margin-left: 50.8%;
}
.column-offset-7{
    margin-left: 59.266666667%;
}
.column-offset-8{
    margin-left: 67.733333333%;
}
.column-offset-9{
    margin-left: 76.2%;
}
.column-offset-10{
    margin-left: 84.666666667%;
}
.column-offset-11{
    margin-left: 93.133333333%;
}

ul{
    margin:0;
}
.project{
    height:70vw;
    width:70vw;
    margin:1em auto;
    background-color: cyan;
    display:block;

}
.mProject{
    height:70vw;
    width: 70vw;
    margin:1em auto;
    display:block;
}
#more-projects{
    padding:5em 10%;
}
.highlight{
    width:100%;
    height:100%;
    background-color: rgb(51,48,46);
    visibility: hidden;
    float:left;
    color:white;
    
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align:center;
    padding-top:10%;
    overflow-y: hidden;
}
.highlight img{
    margin:1em;
    height:20px;
}
.projectHeader{
    margin: 1em !important;
    font-size:15px;
}
.highlight p{
    font-size:13px;
    width:90%;
    margin:0 auto;
}
#desktop-menu{
    background-color:rgba(255,255,255,0.9);
    position: fixed;
    top:0;
    width:100%;
    left:0;
    text-align: center;
    padding:1em 0;
    z-index:1;
    display: none;
}
#desktop-menu:hover{
    background-color:white;
}
#desktop-menu a{
    color:#999;
    margin:1em;
}
#desktop-menu a:hover{
    color:#4d4d4d;
}
a{
    text-decoration: none;
}
#about{
    background-color: gainsboro;
    padding:5em 0;
    margin:0 auto;
}
#about p{
    min-width:290px;
    max-width: 620px;
    line-height: 1.5em;
    font-size: 1.2em;
    margin:0 auto;
    color:#4d4d4d;
    padding:1em;
}
h2{
    text-align: center;
    color:#4d4d4d;
}
#home{
    background-color: rgb(246,234,223);
    height: 90vh;
    position: relative;
}
#text{
    text-align:center;
    width:100%;
    position: absolute;
    top:35%;
}
#text h1{
    margin: 0;
    margin-bottom: 1.5em;
    line-height: 1.5em;
    font-size: 30px;
    letter-spacing: 4px;
    color:rgb(46,25,100);
}
#text #name{
    color:grey;
    font-size: 18px;
}
#text #thirdLine{
    color:lightsalmon;
}
#hireBtn{
    background-color:lightgray;
    padding:0.8em;
    color:#4d4d4d;
    font-weight:bold;
    border-radius:5px;
}
#mobile-menu{
    display:block;
    position: fixed;
    z-index:2;
}
#mobile-menu-links{
    display:none;
    list-style-type: none;
    background-color: rgba(0,0,0,0.87);
    height:100vh;
    width:100%;
    position: fixed;
    z-index:1;
    text-align:center;
    padding:10em 0 0 0;
    top:0;
}
#mobile-menu-links li{
    padding: 1em 0;
}
#mobile-menu-links a{
    font-size:25px;
    color: lightgrey;
    padding:0;
}
#btn{
  background-color: rgba(0,0,0,0.87);
  width:48px;
  height:48px;
  display:block;
  position:relative;
  cursor:pointer;
  z-index:2;
}
#btn span{
  width:18px;
  height:1px;
  background-color:white;
  display:block;
  position:absolute;
  left:15px;
  animation-duration: 0.5s; 
  animation-fill-mode:both
}
#top-line{
  top:20px;
}
#bottom-line{
  top:28px; 
}

@keyframes lean-right{
  0%{
    transform: translateY(0) rotate(0deg)
  }
  100%{
    transform: translateY(5px) rotate(135deg)
  }
}
@keyframes lean-left{
   0%{
    transform: translateY(0) rotate(0deg)
  }
  100%{
    transform: translateY(-3px) rotate(45deg)
  }
}
@keyframes top-parallel{
   0%{
      transform: translateY(5px) rotate(135deg)
  }
  100%{
     transform: translateY(0) rotate(0deg)
  }
}
@keyframes bottom-parallel{
  0%{
    transform: translateY(-3px) rotate(45deg)
  }
  100%{
    transform: translateY(0) rotate(0deg)
  }
}
.lean-right{
   animation-name: lean-right;
}
.lean-left{
   animation-name: lean-left;
}
.top-parallel{
   animation-name: top-parallel;
}
.bottom-parallel{
   animation-name: bottom-parallel;
}
.active{
    color:white !important;
}
#footer{
    background-color: rgb(20, 20, 20);
    height:20em;
    width:100%;
}
#footer ul{
    text-align: center;
    padding:8em 0 0 0;
}
#footer img{
    color:rgba(255,255,255,0.7);
    height:1.5em;
}
#footer p{
    text-align: center;
    color:rgba(255,255,255,0.7);
    padding:1em;
    
    font-weight:100;
    letter-spacing: 2px;
    font-size:18px;
}
#contact div>div{
    text-align: center;
}
#contact{
    background-color:white;
    text-align:center;
    padding:3.5em 0 5em 0;
}
#contact h2{
    padding:2em 0;
    text-align: center;
    color: #4d4d4d;
    margin:0;
}
#contact p,#contact a{
    padding:1em 0;
}

#contact a{
    color:black;
    font-weight:200;
}
#contact a:hover{
    text-decoration: underline;
}
#project-menu{
    padding: 3em 0;
    text-align: center;
}
#project-menu span{
    color:grey;
    margin: 0 1em;
    cursor: pointer;
    line-height: 3em;
}
#project-menu span:hover{
    color:black;
}
.selected{
    border-bottom: 1px solid black;
    color:black !important;
}
#work-experience .title, #work-experience .duration{
    text-align: center;
}
section{
    padding-top:5em;
    padding-bottom:5em;
    border-bottom:1px solid black;
}
#project-box{
    max-width: 1350px;
    margin: 0 auto;
}
.subheader{
    padding: 0.5em;
    border-top: 0.5px solid grey;
    border-bottom: 0.5px solid grey;
    font-weight:lighter;
    font-size: 18px;
    letter-spacing: 2px;
}
#home, #about{
    border-bottom: none;
}
#job-title{
    font-size: 1.4em;
}
#job-duration{
    font-size: 1.2em;
}
#company-name{
    font-size: 1.4em;
    color: lightsalmon;
    margin:3em 0 0.5em 0;
    text-align: center;
    display: block;
}
#company-name:hover{
    color:grey;
}
@media only screen and (max-width: 550px){
    .column-1,
    .column-2,
    .column-3,
    .column-4,
    .column-5,
    .column-6,
    .column-7,
    .column-8,
    .column-9,
    .column-10,
    .column-11,
    .column-12 {
        width: 100%;
        float: none;
    }

    [class*=column]{
      margin-left: 0;
    }
    [class*=column] + [class*=column]{
    margin-left: 0;
    }
}

@media only screen and (min-width: 550px){
    .project{
        width:100%;
        height:25vw;
    }
    .mProject{
        height:25vw;
        width:25vw;
        display: inline-block;
        margin:0;
    }
    #work-experience .title{
        text-align: left;
    }
    #work-experience .duration{
        text-align: right;
    }
    #company-name{
        text-align: left;
    }
}
@media only screen and (min-width: 768px){
    .project, .mProject{
        width: 30vw;
        height:30vw;
    }
    #text h1{
        font-size:40px;
    }
    #desktop-menu{
        display:block;
    }
    #mobile-menu{
        display:none;
    }
    .active{
         color:black !important;
    }
}
@media only screen and (min-width: 1024px){
    .projectHeader{
        font-size:1.5em;
    }
    .highlight p{
        font-size:13.5px;
    }
    .project, .mProject{
        width:25vw;height:25vw;
    }
}
@media only screen and (min-width: 1200px){
    .highlight p{
        line-height: 2em;
    }
}
@media only screen and (min-width:1500px){
    .container{
        width:1500px;
        margin: 0 auto;
    }
    .projects{
        width:1500px;
        margin: 0 auto;
    }
    .project, .mProject{
        width:300px;
        height:300px;
    }
}